<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>部门管理</title>
<link href="daohang.css" rel="stylesheet" type="text/css"/>
<link href="table.css" rel="stylesheet" type="text/css"/>
</head>

<body>
<p class="daohang">当前位置：
<a href="#">首页</a>
<a href="managerDepartments">部门管理</a>
<font>显示部门员工信息</font><br/>
</p>
<fieldset>
<legend>部门员工信息</legend>
<form>
<table cellspacing="0" class="tabs" width="1022">
	<tr align="center">
		<th width="100">员工号</th>
		<th width="150">姓名</th>
		<th width="100">岗位</th>
		<th width="120">入职日期</th>
		<th width="120">参加工作日期</th>
		<th width="200">用工形式</th>
		<th width="100">人员来源</th>
		<th width="200">最高学历</th>
	</tr>
	<tr align="center">
		<td>100010</td>
		<td>张三</td>
		<td>HR</td>
		<td>2009-11-23</td>
		<td>2009-11-23</td>
		<td>正式员工</td>
		<td>校园招聘</td>
		<td>本科</td>
	</tr>
	<tr align="center">
		<td>100010</td>
		<td>张三</td>
		<td>HR</td>
		<td>2009-11-23</td>
		<td>2009-11-23</td>
		<td>正式员工</td>
		<td>校园招聘</td>
		<td>本科</td>
	</tr>
	<tr align="center">
		<td>100010</td>
		<td>张三</td>
		<td>HR</td>
		<td>2009-11-23</td>
		<td>2009-11-23</td>
		<td>正式员工</td>
		<td>校园招聘</td>
		<td>本科</td>
	</tr>
</table>
</form>
</fieldset>
</body>
</html>
