<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>人事管理服务平台</title>
<link href="css/left.css" rel="stylesheet" type="text/css" />
</head>
<body>
<table width="189" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><img src="images/menu_01.jpg" width="189" height="36" /></td>
  </tr>
  <tr>
    <td class="leftmenu"><ul id="navigation">
    	<li><a href="#">管理指南</a>
          	<ul>
            	<li><a href="department/managerDepartments" target="framemain">部门管理</a>
					<ul>
						<li></li>
					</ul>
				</li>
			</ul>
			<ul>
            	<li><a href="post/managerPost" target="framemain">岗位管理</a>
					<ul>
						<li></li>
					</ul>
				</li>
			</ul>
			<ul>
            	<li><a href="staffInformation/e-register.html" target="framemain">入职管理</a>
					<ul>
						<li></li>
					</ul>
				</li>
			</ul>
			<ul>
				<li><a href="#">员工试用期管理</a>
					<ul>
						<li><a href="probation/Staff Management.html" target="framemain">员工试用期考核</a></li>
						<li><a href="probation/Information Query.html" target="framemain">查询已转正员工信息</a></li>
					</ul>
				</li>
			</ul>
			<ul>
				<li><a href="#">员工部门调动</a>
					<ul>
						<li><a href="transferDept/transferDepartment.html" target="framemain">部门调动</a></li>
						<li><a href="transferDept/selectTransferEmployees.html" target="framemain">查询已调动部门员工信息</a></li>
					</ul>
				</li>
			</ul>
			<ul>
		  		<li><a href="#">员工岗位调动</a>
					<ul>
						<li><a href="transferPost/employee.html" target="framemain">岗位调动</a></li>
						<li><a href="transferPost/selectPostEmployees.html" target="framemain">查询已调动岗位员工信息</a></li>
					</ul>
				</li>
			</ul>
			<ul>
				<li><a href="#">员工离职管理</a>
					<ul>
						<li><a href="departure/departureManagerment.html" target="framemain">离职管理</a></li>
						<li><a href="departure/departureQuery.html" target="framemain">查询离职员工信息</a></li>
					</ul>
				</li>
			</ul>
			<ul>
            	<li><a href="#">员工信息管理</a>  
			  		<ul>
			    		<li><a href="staffInformation/e-select.html" target="framemain">修改员工信息</a></li>
                		<li><a href="#">人才库</a></li>
              		</ul>
            	</li>
			</ul>
			<ul>
            	<li><a href="#">报表管理</a>
              		<ul>
                		<li><a href="#">新聘员工表</a></li>
                		<li><a href="#">离职员工表</a></li>
                		<li><a href="#">部门调动表</a></li>
						<li><a href="#">岗位调动表</a></li>
						<li><a href="#">人事月报</a></li>
              		</ul>
            	</li>
			</ul>
		</li>
      </ul></td>
  </tr>
</table>
</body>
</html>
